body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25, 25, 25);
}
h1{
    font-size: 6rem;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(57, 80, 255, 0.955);
    text-shadow: 2px 2px 10px;
}
#clock{
    font-size: 10em;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 2px 2px 10px rgba(119, 61, 255, 0.999);
    color:rgba(135, 84, 253, 0.999);
    margin-bottom: 20px;
}
#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:5px solid rgba(57, 80, 255, 0.955);
    box-shadow: 3px 3px 20px rgba(57, 80, 255, 0.955);
    border-radius: 5em;
    padding:3em;
    background-color: rgb(0, 0, 0);
}
#controls button{
    font-size: 2rem;
    margin-left:30px;
    margin-right:30px;
    padding:13px;
    border:none;
    border-radius: 20px;
    width:5em;
    font-weight: bold;
    cursor:pointer;
    color:white;
    transition: background-color 0.5 ease;
}
#startbtn{
    background-color:hsl(120, 100%, 42%);
}
#startbtn:hover{
    background-color: hsl(120, 100%, 62%);
    box-shadow: 3px 3px 5px hsl(120, 100%, 42%);
}

#stopbtn{
    background-color:hsl(0, 100%, 42%);
}
#stopbtn:hover{
    background-color: hsl(0, 100%, 62%);
    box-shadow: 3px 3px 5px hsl(0, 100%, 42%);
}

#resetbtn{
    background-color:hsl(195, 100%, 42%);
}
#resetbtn:hover{
    background-color:hsl(195, 100%, 62%);
    box-shadow: 3px 3px 5px hsl(195, 100%, 42%);
}